#navbar {
    height: $header-mh;
    background-color: $white;
    border-bottom: 1px solid $theme-terthiary;
    top: 0;
    right: 0;
    z-index: 99;

    > .container { margin-top: inherit; }

    .nav-link {
        @include fz-18;
        @include menu-link-style(.5, 1, $theme-color-primary);
    }

    .nav-btn-cta a { height: $header-mh; }

}