#faq {

    .categorie-list-faq {
        background-color: $theme-secondary;
        border: 1px solid $theme-terthiary;
        padding: 1.5rem;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
        transition: .2s ease-in-out;

        @include min-lg-rwd { 
            max-width: calc(25% - 18px) !important; 
            &:not(:last-child) { margin-right: 1.5rem; }
        }
        @include min-md-rwd { 
            max-width: calc(50% - 12px); 
            &:nth-child(odd) { margin-right: 1.5rem; }
        }

        &:hover, &:focus { border-color: $primary-75; }

        &-selected {
            border-color: $primary !important;
            color: $primary !important;
            svg { fill: $primary !important; }
        }
    }

    .accordion {

        .card {
            background-color: $theme-secondary;
            border: 1px solid $theme-terthiary;
            &:not(:last-child) { margin-bottom: 2rem; }

            &-header {
                background-color: $theme-secondary;
                &:hover {
                    cursor: pointer;
                    .btn-collapsible { background-color: $md-grey-35; }
                }
                .btn-collapsible {
                    min-width: 28px;
                    width: 28px;
                    min-height: 28px;
                    height: 28px;
                    @include fz-26;
                    cursor: pointer;
                    transition: .2s ease-in-out;
                    &:hover, &:focus { background-color: $md-grey-35; }
                }
            }

            &-body {
                border-top: 1px solid $theme-terthiary;
            }
        }       
    }

    .faq-contact-infos {
        background-color: $theme-secondary;
        border: 1px solid $theme-terthiary;

        .faq-contact-infos-block { 
            height: fit-content;

            a {
                color: $theme-color-primary;
                border: 1px solid $theme-terthiary;
                transition: .2s ease-in-out;
                
                &:hover, &:focus {
                    text-decoration: none;
                    border-color: $primary !important;
                    color: $primary;
                    svg { fill: $primary; }
                }
            }
        }
    }
}