@mixin bg-img($pos, $size, $height, $top, $right, $bottom, $left, $index) {
    content: '';
    background-repeat: no-repeat;
    background-position: $pos;
    background-size: $size;
    width: 100%;
    height: $height;
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $index;
}
@mixin decoration($top, $right, $bottom, $left, $index) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $index;
}
@mixin waveSeparator($height, $top, $right, $bottom, $left, $index, $rotate) {
    width: 100%;
    height: $height;
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $index;
    overflow: visible;
    transform: rotate($rotate + deg);
}

#home {

    [class*=home-section-] {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        @include min-xl-rwd {
            padding-right: 3rem;
            padding-left: 3rem;
        }
    }

    /* ----- BLOB ----- */
    .blob-1 { 
        @include decoration(initial, initial, initial, -75px, -1);
        @include max-sm-rwd { bottom: 0; }
    }
    .blob-2 { @include decoration(-150px, 50px, initial, initial, -3); }
    .blob-3 { @include decoration(initial, initial, -50%, -75px, -1); }
    .blob-4 { @include decoration(-45px, initial, initial, -75px, -1); }
    .blob-5 { @include decoration(-175px, 0, initial, initial, 1); }
    .blob-6 { @include decoration(initial, 33%, -115px, initial, 2); }
    .blob-7 { @include decoration(-125px, initial, initial, -85px, -1); }
    .blob-8 { @include decoration(initial, -15px, -85px, initial, -1); }
    .blob-9 { 
        @include decoration(initial, initial, -85px, 37%, 0);
        @include max-sm-rwd { 
            bottom: -130px;
            left: 50px;
        }
    }

    /* ----- DOTS ----- */
    .dots-1 { 
        @include decoration(initial, 200px, -130px, initial, -4);
        @include max-lg-rwd { right: 30px; }
    }
    .dots-2 { 
        @include decoration(initial, initial, -75px, 15px, -1);
        @include max-custom-rwd(1440) { left: 0; }
        @include max-sm-rwd { left: -15px; }
    }
    .dots-3 {
        @include decoration(initial, initial, -160px, 150px, -1);
    }
    .dots-4 {
        @include decoration(initial, initial, 100px, 55%, -1);
        @include max-xl-rwd { bottom: -50px; }
    }
    .dots-5 { @include decoration(0, initial, initial, -50px, -2); }
    .dots-6 { 
        @include decoration(55px, -25px, initial, initial, -1);
        @include max-lg-rwd { 
            top: initial;
            right: 20%;
            bottom: -200px;
        }
    }

    /* ----- SECTION 1 ----- */
    .home-section-1 {
        &.pt-hero-banner { 
            padding-top: calc(9rem + #{$header-mh} + #{$banner-promotion});
            @include max-custom-rwd(1440) { padding-top: calc(6rem + #{$header-mh} + #{$banner-promotion}); }
        }
        &.pt-hero { 
            padding-top: calc(9rem + #{$header-mh});
            @include max-custom-rwd(1440) { padding-top: calc(6rem + #{$header-mh}); }
        }
        @include max-lg-rwd { padding-top: calc(6rem + #{$header-mh}) !important; }
        &::before {
            @include bg-img(0 0, contain, 1543px, 0, initial, initial, 0, -2);
            background-image: url(../../img/svg/decorating/waves/wave-primary.svg);
        }
        .container > div:first-of-type { @include max-custom-rwd(1440) { padding: 0 !important; } }
    }

    /* ----- SECTION 2 ----- */
    .home-section-2 {
        @include min-lg-rwd { margin-top: 15rem; }
        @include max-lg-rwd { margin-top: 9rem; }

        .card-review {
            @include min-custom-rwd(1440) { max-width: 295px !important; }
            @include min-xl-rwd { max-width: 235px; }
            height: fit-content;
            background-color: $theme-secondary;
            box-shadow: 0 0 8px rgba($black, .04);
            border: 1px solid $theme-terthiary;
            border-top: none;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;

            h3 { @include fz-18; }

            &:first-child { 
                margin-top: 0 !important;
                border-top: 8px solid $purple;
            }
            &:nth-child(2) { 
                @include max-md-rwd { margin-right: 0 !important; }
                border-top: 8px solid $blue;
            }
            &:nth-last-child(2) { border-top: 8px solid $coral; }
            &:last-child { 
                @include min-md-rwd { margin-top: 6rem !important; }
                margin-top: 3rem;
                border-top: 8px solid $yellow;
            }
            &:nth-child(even) { 
                margin-top: 3rem;
                @include max-md-rwd { margin-left: 3rem; }
            }
            &:not(:last-child) { 
                @include max-xl-rwd { margin-top: 3rem; }
                margin-right: 3rem;
            } 
        }
    }

    /* ----- SECTION 3 ----- */
    .home-section-3 { margin-top: 9rem; }

    /* ----- SECTION 4 ----- */
    .home-section-4 {
        margin-top: 18rem;
        background-color: $theme-secondary;

        .wave-top-4 { @include waveSeparator(149px, -149px, 0, initial, initial, 1, 0); }
        .wave-bottom-4 { @include waveSeparator(149px, initial, initial, -149px, 0, 1, 180); }
    }

    /* ----- SECTION 5 ----- */
    .home-section-5 { margin-top: 15rem; }

    /* ----- SECTION 6 ----- */
    .home-section-6 { 
        margin-top: 15rem;
        @include max-lg-rwd { padding-bottom: 6rem; }

        .slider-container {
            @include max-lg-rwd { 
                @include scroll-x(auto);
                overflow-y: hidden;
            }
            .slider-item {
                @media all and (min-width: $screen-lg-min) and (max-width: $screen-xl-max) {
                    max-width: calc(33.333333% - 16px);
                    &:not(:last-of-type) { margin-right: 1.5rem; }
                }
                @include max-lg-rwd { 
                    margin-top: 0 !important;
                    padding-right: 1.5rem !important;
                    min-width: 80%;
                    max-width: 80%;
                    &:first-of-type { margin-left: 1.5rem; }
                }
            }
        }
    }

    /* ----- SECTION 7 ----- */
    .home-section-7 { 
        padding-bottom: 12rem;
        margin-top: 9rem;
        background-color: $theme-secondary;
        &::before {
            background-image: url(../../img/svg/decorating/waves/wave-pre-ending.svg);
            @include bg-img(100% 100%, contain, 736px, -736px, 0, initial, initial, -2);
        }
    }

    /* ----- SECTION 8 ----- */
    .home-section-8 {
        padding-bottom: 9rem;

        .wave-top-5 { @include waveSeparator(399px, 0, initial, initial, 0, -1, 0); }

        > .container {
            margin-top: -6rem;

            .blog-post-item {
                @include min-lg-rwd { max-width: calc(33.33333% - 3rem); }
    
                &-header {
                    border: 1px solid $theme-terthiary;
                    border-radius: 8px;
                    height: 225px;
                    &:hover img, &:focus img { transform: scale(1.1); }
    
                    img {
                        background-color: $theme-secondary;
                        max-width: 100%;
                        min-width: 100%;
                        min-height: 225px;
                        max-height: 225px;
                        transition: .4s ease-in-out;
                    }
                }
                &-body {
                    color: $theme-color-primary;
                    h3 {
                        $fz-title-blog: $fz-20;
                        font-size: $fz-title-blog;
                        line-height: calc(#{$fz-title-blog} + #{$lh-default});
                    }
                }

            }
           
        }
    }

}