#writingFranklin {

    /* ----- SIDEBAR ----- */
    #stickyMenu {
        top: 6rem;

        &.banner-showed { top: calc(6rem + #{$banner-promotion}); }

        @include max-xl-rwd { position: initial !important; }

        .articles-wrapper {
            min-height: 150px;
            max-height: 390px;
            @include min-xl-rwd { min-height: 390px; }
            @include scroll-y(auto);

            .article-item {
                position: relative;
                cursor: pointer;
                transition: .2s ease-out;

                &:hover, &:focus { 
                    @include bg-hover-light;
                    .article-menu { visibility: visible; }
                }
                &.article-selected { @include bg-active-light; }
                
                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    &::first-letter { text-transform: uppercase; }
                }

                .article-menu {
                    visibility: hidden;
                    transition: none !important;
                    outline: none;
                    @include state-interaction-element;
                    &:hover, &:focus { background-color: $md-grey; }

                    > ul.article-submenu {
                        background-color: $theme-color-secondary;
                        border: 1px solid $theme-terthiary;
                        box-shadow: 0 0 4px $black-25;
                        text-align: right;
                        right: 48px;
                        top: 0;
                        z-index: 1;

                        li {
                            padding: .25rem .5rem;
                            &:hover, &:focus { background-color: $md-grey-35; }
                        }
                    }
                }
            }
        }
    }

    /* ----- HEADING ----- */
    .writing-franklin-header {
        &-top { border-bottom: 1px solid $theme-terthiary; }
    }

    /* ----- ONBOARDING ----- */
    .onboarding-content {
        border-top: 1px solid $theme-terthiary;
        border-bottom: 1px solid $theme-terthiary;

        ol li {
            list-style: decimal;
            padding-bottom: .5rem;
            &:last-child { padding-bottom: 0; }
        }
    }
    
    /* ----- WRITING MODE ----- */
    .block-writing {
        div[contentEditable=true] {
            min-height: 54px;
            margin: 0 auto .5rem auto;
            padding: 1rem;
            border-radius: .5rem;
            text-align: left;
            word-break: break-all;
        
            &:focus { 
                background-color: $light-grey;
                outline: none;
            }

            &:empty:not(:focus)::before {
                content: attr(data-placeholder);
                color: $text-disabled;
                @include fw-400;
                display: block; // Compatibility
                pointer-events: none;
            }

            &.title {
                min-height: 74px;
                margin-bottom: 3rem;
                @include fz-36;
                @include fw-600;
            }

            + .state-interaction-element {
                outline: none;
                ul.article-menu-tag {
                    min-width: 70px;
                    background-color: $theme-color-secondary;
                    border: 1px solid $theme-terthiary;
                    box-shadow: 0 0 4px $black-25;
                    text-align: right;
                    right: 36px;
                    top: 0;
                    z-index: 1;

                    li {
                        padding: .25rem .5rem;
                        &:hover, &:focus { background-color: $md-grey-35; }
                        &.tag-active { background-color: $md-grey-75; }
                        &[data-type=h2] { 
                            @include fz-20;
                            @include fw-600;
                        }
                        &[data-type=h3] { 
                            @include fz-18;
                            @include fw-600;
                        }
                        &[data-type=text] { @include fz-16; }
                    }
                }
            }
        }

        .add-section {
            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background: $md-grey-35;
                display: block;
                position: relative;
                top: 18px;
            }

            > .state-interaction-element {
                background-color: $md-grey-35;
                &:hover, &:focus { background-color: $md-grey-75; }
            }

        }
    }

}