#writingFranklin {

    /* ----- SIDEBAR ----- */
    .block-writing-sidebar {
        .articles-wrapper {
            .article-item {
                position: relative;
                cursor: pointer;
                transition: .2s ease-out;

                &:hover, &:focus { 
                    @include bg-hover-light;
                    .article-menu { visibility: visible; }
                }
                &.article-selected { @include bg-active-light; }
                
                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    &::first-letter { text-transform: uppercase; }
                }

                .article-menu {
                    visibility: hidden;
                    transition: none !important;
                    outline: none;
                    @include state-interaction-element;
                    &:hover, &:focus { background-color: $md-grey; }

                    > .article-submenu {
                        right: 48px;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }

    /* ----- HEADING ----- */
    .writing-franklin-header {
        &-top {
            border-bottom: 1px solid $theme-terthiary;
        }
        &-bottom {
            .writing-franklin-parameters {
                @include state-interaction-element;
            }
        }
    }


    /* ----- WRITING MODE ----- */
    .block-writing {
        min-height: 100vh;

        div[contentEditable=true] {
            min-height: 56px;
            background-color: $light-grey;
            margin: 0 auto .5rem auto;
            padding: 1rem;
            border-radius: .5rem;
            text-align: left;
        
            &:focus { 
                background-color: rgba($primary, .1);
                outline: none;
            }

            &:empty::before {
                content: attr(data-placeholder);
                color: $text-disabled;
                @include fw-400;
                display: block; // Compatibility
                pointer-events: none;
            }

            &.title {
                min-height: 74px;
                margin-bottom: 3rem;
                @include fz-36;
                @include fw-600;
            }
        }

    }

}