#writingFranklin {

    .block-writing-sidebar {
        .articles-wrapper {
            .article-item {
                position: relative;
                cursor: pointer;
                transition: .2s ease-out;

                &:hover, &:focus { 
                    @include bg-hover-light;
                    .article-menu { visibility: visible; }
                }
                &.article-selected { @include bg-active-light; }
                
                p { 
                    width: 100%;
                    margin-right: 1rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    pointer-events: none;
                    &::first-letter { text-transform: uppercase; }
                }
                .title-disabled{
                    color:$text-disabled;
                }
                .article-menu {
                    visibility: hidden;
                    transition: none !important;
                    outline-color: $primary;
                    @include state-interaction-element;
                    &:hover, &:focus { background-color: $md-grey; }

                    > .article-submenu {
                        right: 48px;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }

    .block-writing {
        min-height: 100vh;
        .title {
            width: 70%;
            font-size: xx-large;
            line-height: 100px;
            font-weight: bold;
        }
        div[contentEditable=true] {
            min-height: 100px;
            background-color: $theme-terthiary;
            margin: 0 auto 1.5rem auto;
            padding: .5rem;
            border-radius: .5rem;
            text-align: left;
        }
        .section {
            width: 90%;
        }
        div[contentEditable=true]:focus {
            outline: none;

        }

    }

}