.back-to-top {
    margin: 1rem !important;
    padding: 0;
    transform: rotate(90deg);
    background-color: $primary !important;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 97;
    box-shadow: 8px 0 16px $black-50;
    transition: .2s ease-in-out !important;
    &:hover, &:focus { 
        background-color: rgba($primary, .9) !important;
        outline: none;
    }
}