#globalTag { margin-top: $header-mh; }

.layout-style { 
    @include layout-style($header-mh, 6rem, 1.5rem, 3rem);
    min-height: 100vh;
}

.container {
    @include min-xl-rwd { max-width: 1360px !important; }
    @include max-lg-rwd { max-width: 100% !important; }
}